body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  nav .logo {
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 15vh;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
  }

  nav li {
    margin: 0 2rem;

  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    transition: color 0.3s;
    cursor: pointer;
  }

  nav a:hover {
    color: #ffcc00; 
  }

  /* Hide Hamburger menu for large screens */
  .hamburger-menu {
    display: none;
  }







  /* grid styling of body */

  .container {
    display: grid;
    height: 100%;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }

  h1 {
    color: #fff;
    text-align: center;
    margin: 0;
  }

aside {
  background-color: #ffcc00;
  margin: 10px 5px;
  
}

footer {
  background-color: burlywood;
  height: 30vh;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color:lightblue;
  margin: 10px 5px;
}
  .aside {
  grid-column: 1 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }

  .main-contents {
    grid-column: 4 / -1;
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }






  /* typewriting effect */

  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
  }

  /* The typing animation */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* The blink caret animation */
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #fff
    }
  }









  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
        transition: transform 0.5s ease, opacity 0.5s;
      }
    

    .logo {
    font-size: 1rem;
    z-index: 1;
    }

    nav a {
        font-size: 1rem;
    }

    nav li {
      margin: 10px 0;
    }

    .hamburger-menu {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      transition: transform 1s ease;
    }
    
    /* for creating smooth transition effect of nav links */
    nav ul {
      /*you can simply display: none and delete other properties */ 
      display: flex;   flex-direction: column;
      width: 100%;
      position: absolute;
      top: -150px;
      left: 0;
      transition: all .5s  ease-in-out;
    }

    nav ul.show {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: #333;
      transition: all .5s  ease-in-out;
    }



    /* Styling for X icon */
    .hamburger-menu.open .bar.top {
        transform: rotate(-45deg) translate(-10px, 5px);
      }

      .hamburger-menu.open .bar.middle {
        opacity: 0;
      }

      .hamburger-menu.open .bar.bottom {
        transform: rotate(45deg) translate(-10px, -5px);
      }


      .container {
        display: grid;
        height: 100%;
        gap: 10px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
      }

      .aside {
        grid-column: 1 / 5; 
      }

      .main-contents {
        grid-column: 5 / -1; }

  }







  